.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
}

html.suspended {
  background: rgba(0, 0, 0, 0.6);
}

body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1100px;
  margin: 0 auto;
}

/*floats*/

.fl {
  float: left;
}

.fr {
  float: right;
}
/*grids*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*typography*/

.text-primary {
  color: #B11414;
}

.text-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

/*button*/

.btn {
  font-family: "Montserrat";
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  padding: 10px 0;
  max-width: 168px;
  width: 100%;
  background: linear-gradient(#00327D,#00183E);
  border: 1px solid transparent;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #ddd;
    color: #000;
  }
}

/*clearings*/

.clear {
  clear: both;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
  }
  display: block;
}

/*cookie*/

.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/

.destroy-on-load, .cta {
  display: none;
}

/*contact form messages*/

form {
  .messages p {
    display: none;
    font-family: Arial !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    font-size: 16px !important;
  }
  .loading {
    display: none;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  [type="submit"] {
    margin: 20px auto;
  }
}

/*contact form*/

.ctc-form {
  margin: 0 auto;
  text-align: center;
  input[type="text"] {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto 8px;
  }
  textarea {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto 8px;
    height: 120px;
    padding-top: 10px;
  }
  button {
    display: block;
  }
  .recap {
    display: inline-block;
  }
  .g-recaptcha div {
    margin: 0 auto 10px;
  }
  .ctc-hide {
    display: none;
  }
}

/*gallery*/

#content {
  .gallery-container {
    text-align: center;
  }
  .gallery {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
  .thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: .42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.5s ease-in-out 0s;
    &:hover {
      transform: scale(1.02);
    }
  }
  .page_navigation {
    display: inline-block;
  }
  .page_link, .previous_link, .next_link, .first_link, .last_link, .ellipse {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #0275d8;
    display: inline-block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
  }
  .page_navigation > a:hover {
    background-color: #eceeef;
    border-color: #ddd;
    color: #014c8c;
    text-decoration: none;
  }
}

.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}
