/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center bottom;
  background-size: 100% 100%;
  padding: 108px 0 277px;
  .row{
    max-width: 1292px;
    text-align: right;
  }
  h1{
    font-family: "Montserrat";
    font-size: 80px;
    font-weight: 800;
    color: #FFF;
    line-height: 90px;
    span{
      display: block;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: 0.1em;
    }
  }
  h2{
    font-family: "Old Standard TT";
    font-size: 83px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 80px;
    letter-spacing: 4px;
    span{display: block;}
  }
  .bannerBtn{
    text-align: center;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: #FFF;
    display: inline-block;
    padding: 15px 0;
    max-width: 228px;
    margin-top: 16px;
    width: 100%;
    background: none;
    border: 1px solid #FFF;
    transition: all 0.5s ease;
    &:hover {
      background: #ddd;
      border-color: #ddd;
      color: #ddd;
      color: #000;
    }
  }
}
