/*footer*/

#footer {
  background: url(../images/common/bgFooter.jpg)no-repeat center top;
  background-size: cover;
  padding: 0;
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .footTop{
    padding: 35px 0 29px;
    border-top: 7px solid #DDDDDD;
    border-bottom: 7px solid #DDDDDD;
    .row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .left{
      width: (100%/3.5);
      p{
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 17px;
        color: #AAAAAA;
        line-height: 24px;
        span{
          margin-top: 5px;
          display: block;
          font-weight: 700;
          font-size: 16px;
          color: #191319;
          line-height: 23px;
        }
      }
    }
    .mid{
      width: (100%/3.5);
      img{
        max-width: 318px;
        width: 100%;
      }
      p{
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 17px;
        color: #AAAAAA;
        line-height: 24px;
        span{
          margin-top: 5px;
          display: block;
          font-weight: 700;
          font-size: 32px;
          color: #191319;
          line-height: 41px;
        }
      }
    }
    .right{
      width: (100%/3.5);
      p{
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 17px;
        color: #AAAAAA;
        line-height: 24px;
        span{
          margin-top: 5px;
          display: block;
          font-weight: 700;
          font-size: 16px;
          color: #191319;
          line-height: 23px;
        }
      }
    }
  }
  .footMid{
    background: linear-gradient(#00327D,#00183E);
    padding: 23px 0 17px;
    border-bottom: 7px solid #DDDDDD;
    ul{
      margin: 0 auto;
      max-width: 863px;
      width: 100%;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li{
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;
      }
    }
  }
  .footBot{
    padding: 20px 0;
    p{
      margin: 0 auto;
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 13px;
      color: #000000;
      line-height: 20px;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
}
