/*header*/

#header {
  background: #FFFFFF;
  padding: 0 0 11px;
  border-bottom: 7px solid #D4D4D4;
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      li {
        padding: 37px 0 22px;
        a {
          position: relative;
          font-family: "Montserrat";
          font-weight: 500;
          font-size: 15px;
          color: #000;
          padding: 38px 0 23px;
          line-height: 21px;
        }
        &.active-menu a, a:hover {
          color: #000;
          &::after{
            content:'';
            width: 0;
             height: 0;
             border-left: 8.5px solid transparent;
             border-right: 8.5px solid transparent;
             border-top: 12px solid #000;
             position: absolute;
             bottom: 0;
             left: 50%;
             transform: translateX(-50%);
          }
        }
      }
    }
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    .hdLeft{
      max-width: 261px;
      width: 100%;
      img.hdLogo{
        max-width: 261px;
        width: 100%;
      }
    }
    .hdRight{
      max-width: 780px;
      width: 100%;
      .hdRightTop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 700px;
        margin: 0 0 0 auto;
        p{
          &:nth-of-type(1){
            max-width: 220px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            font-size: 31px;
            color: #CCCCCC;
            margin: 0;
          }
          &:nth-of-type(2){
            margin: 0;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 17px;
            color: #000;
            span{
              a{
                margin-left: 11px;
                display: inline-block;
                vertical-align: middle;
                padding: 9px 30px 8px 62px;
                font-weight: 700;
                font-size: 32px;
                letter-spacing: 2px;
                color: #FFF;
                background: url(../images/common/hdPhone.png)no-repeat 16px 15px, linear-gradient(#00327D, #00183E);
              }
            }
          }
        }
      }
    }
  }
}
