/*------------------------------------Section 4------------------------------------*/
#section4{
  overflow-x: hidden;
  background: url(../images/common/bgLast.jpg)no-repeat center top;
  background-size: cover;
  padding: 340px 0 62px;
  .row{
    position: relative;
  }
  .container{
    margin-top: 50px;
    max-width: 1270px;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content:space-between;
    .item{
      text-align: left;
      max-width: 353px;
      width: 100%;
      margin: 0 55px 0 10px ;
      h2{
        color: #FFF;
      }
      .btn{
        background: #0071BD;
        margin-top: 42px;
      }
    }
    img{
    margin: 0 10px;
    }
  }
}
