/*------------------------------------Section 2------------------------------------*/
#section2{
  background: #FFFFFF;
  padding: 0 0 75px;
  h4{
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 1.2px;
  }
  h5{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    color: #191319;
    line-height: 22px;
    margin: 10px 0 0;
  }
  .container{
    margin: 43px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
      dl{
        max-width: 250px;
        width: 100%;
        dt{
          img{
            max-width: 250px;
            word-spacing: 100%;
          }
        }
        dd{
          padding: 18px 0 0;
          margin: 0;
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 20px;
          color: #00265D;
        }
      }
  }
  .container2{
    max-width: 822px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
      dl{
        margin: 39px 0 0;
        max-width: 250px;
        width: 100%;
        dt{
          img{
            max-width: 250px;
            word-spacing: 100%;
          }
        }
        dd{
          padding: 18px 0 0;
          margin: 0;
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 20px;
          color: #00265D;
        }
      }
  }
}
