/*------------------------------------Section 3------------------------------------*/
#section3{
  background: url(../images/common/bgTestimonial.jpg)no-repeat center top;
  background-size: cover;
  padding: 0 0 236px;
  .row{
    position: relative;
  }
  .container{
    background: #FFFFFF;
    max-width: 988px;
    margin: 0 auto;
    padding: 0 0 1px;
    p{
      &.stars{
        margin: 10px auto 21px;
        color: #D9D900;
        font-size: 34px;
        max-width: 219px;
        letter-spacing: 4px;
        line-height: 24px;
      }
      &.text{
        position: relative;
        max-width: 816px;
        width: 100%;
        margin: 0 auto 30px;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 17px;
        color: #191319;
        line-height: 28px;
        letter-spacing: 1px;
        &::before{
          content: url(../images/content/quote-left.png);
          position: absolute;
          top: 0;
          left: -40px;
        }
        &::after{
          content: url(../images/content/quote-right.png);
          position: absolute;
          bottom: -20px;
          right: -40px;
        }
      }
      &.auth{
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 17px;
        color: #AAAAAA;
        line-height: 28px;
        letter-spacing: 1px;
      }
      &.sm{
        max-width: 280px;
        width: 100%;
        margin: 0 auto -20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a{
          font-size: 40px;
          color: #00265D;
        }
      }
    }
  }
  .container2{
    position: absolute;
    top: 373px;
    left: 0;
    right: 0;
    z-index: 999;
    max-width: 1100px;
    background: url(../images/common/bgContact.jpg)no-repeat center top;
    background-size: cover;
    padding: 26px 0 37px;
    h1{
      color: #FFFFFF;
    }
    form{
      .cntTop{
        max-width: 1017px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        input[type="text"]{
          width: 332px;
          height: 32px;
          border-radius: 0;
        }
      }
      textarea{
        max-width: 1017px;
        width: 100%;
        height: 129px;
        margin: 0 auto 10px;
        resize: none;
        border-radius: 0;
      }
      label{
        color: #FFFFFF;
      }
    }
  }
}
