/*------------------------------------Section 1------------------------------------*/
#content{
  background: url(../images/common/bgContent.jpg)no-repeat center top;
  background-size: 100% 100%;
  padding: 73px 0 84px;
  h3{
    margin-top: 3px;
  }
  h4{
    margin: 21px;
  }
  p.homePar{
    max-width: 937px;
    width: 100%;
    margin: 0 auto;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    color: #191319;
    line-height: 28px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
  }
}
