h1 {
  font-family: "Montserrat";
  font-size: 65px;
  font-weight: 600;
  color: #00265D;
  letter-spacing: 3px;
  line-height: 78px;
}
h2{
  font-family: "Montserrat";
  font-size: 65px;
  font-weight: 600;
  color: #00265D;
  letter-spacing: 3px;
  line-height: 78px;
}
h3{
  font-family: "Old Standard TT";
  font-weight: 700;
  font-size: 39px;
  color: #AAAAAA;
  line-height: 50px;
  letter-spacing: 11px;
}
h4{
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  color: #00265D;
  letter-spacing: 1.1px;
  line-height: 27px;
}
.socialico{
  font-family: "Socialico";
}
