@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Old Standard TT'; src: url("fonts/OldStandardTT-Bold.woff2") format("woff2"), url("fonts/OldStandardTT-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("fonts/Montserrat-ExtraBold.woff") format("woff"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url(fonts/"Montserrat-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1100px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { font-family: "Montserrat"; text-align: center; font-size: 17px; font-weight: 600; color: #fff; display: inline-block; padding: 10px 0; max-width: 168px; width: 100%; background: -webkit-gradient(linear, left top, left bottom, from(#00327D), to(#00183E)); background: -webkit-linear-gradient(#00327D, #00183E); background: -o-linear-gradient(#00327D, #00183E); background: linear-gradient(#00327D, #00183E); border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Montserrat"; font-size: 65px; font-weight: 600; color: #00265D; letter-spacing: 3px; line-height: 78px; }

h2 { font-family: "Montserrat"; font-size: 65px; font-weight: 600; color: #00265D; letter-spacing: 3px; line-height: 78px; }

h3 { font-family: "Old Standard TT"; font-weight: 700; font-size: 39px; color: #AAAAAA; line-height: 50px; letter-spacing: 11px; }

h4 { font-family: "Montserrat"; font-size: 20px; font-weight: 600; color: #00265D; letter-spacing: 1.1px; line-height: 27px; }

.socialico { font-family: "Socialico"; }

/*header*/
#header { background: #FFFFFF; padding: 0 0 11px; border-bottom: 7px solid #D4D4D4; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header nav ul li { padding: 37px 0 22px; }

#header nav ul li a { position: relative; font-family: "Montserrat"; font-weight: 500; font-size: 15px; color: #000; padding: 38px 0 23px; line-height: 21px; }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #000; }

#header nav ul li.active-menu a::after, #header nav ul li a:hover::after { content: ''; width: 0; height: 0; border-left: 8.5px solid transparent; border-right: 8.5px solid transparent; border-top: 12px solid #000; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#header .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

#header .container .hdLeft { max-width: 261px; width: 100%; }

#header .container .hdLeft img.hdLogo { max-width: 261px; width: 100%; }

#header .container .hdRight { max-width: 780px; width: 100%; }

#header .container .hdRight .hdRightTop { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 700px; margin: 0 0 0 auto; }

#header .container .hdRight .hdRightTop p:nth-of-type(1) { max-width: 220px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 31px; color: #CCCCCC; margin: 0; }

#header .container .hdRight .hdRightTop p:nth-of-type(2) { margin: 0; font-family: "Montserrat"; font-weight: 500; font-size: 17px; color: #000; }

#header .container .hdRight .hdRightTop p:nth-of-type(2) span a { margin-left: 11px; display: inline-block; vertical-align: middle; padding: 9px 30px 8px 62px; font-weight: 700; font-size: 32px; letter-spacing: 2px; color: #FFF; background: url(../images/common/hdPhone.png) no-repeat 16px 15px, -webkit-gradient(linear, left top, left bottom, from(#00327D), to(#00183E)); background: url(../images/common/hdPhone.png) no-repeat 16px 15px, -webkit-linear-gradient(#00327D, #00183E); background: url(../images/common/hdPhone.png) no-repeat 16px 15px, -o-linear-gradient(#00327D, #00183E); background: url(../images/common/hdPhone.png) no-repeat 16px 15px, linear-gradient(#00327D, #00183E); }

/*banner*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center bottom; background-size: 100% 100%; padding: 108px 0 277px; }

#banner .row { max-width: 1292px; text-align: right; }

#banner h1 { font-family: "Montserrat"; font-size: 80px; font-weight: 800; color: #FFF; line-height: 90px; }

#banner h1 span { display: block; font-size: 30px; line-height: 120%; letter-spacing: 0.1em; }

#banner h2 { font-family: "Old Standard TT"; font-size: 83px; font-weight: 700; color: #FFFFFF; line-height: 80px; letter-spacing: 4px; }

#banner h2 span { display: block; }

#banner .bannerBtn { text-align: center; font-family: "Montserrat"; font-size: 17px; font-weight: 700; line-height: 24px; color: #FFF; display: inline-block; padding: 15px 0; max-width: 228px; margin-top: 16px; width: 100%; background: none; border: 1px solid #FFF; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#banner .bannerBtn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*------------------------------------Section 1------------------------------------*/
#content { background: url(../images/common/bgContent.jpg) no-repeat center top; background-size: 100% 100%; padding: 73px 0 84px; }

#content h3 { margin-top: 3px; }

#content h4 { margin: 21px; }

#content p.homePar { max-width: 937px; width: 100%; margin: 0 auto; font-family: "Montserrat"; font-weight: 400; font-size: 17px; color: #191319; line-height: 28px; letter-spacing: 0.8px; margin-bottom: 20px; }

/*------------------------------------Section 2------------------------------------*/
#section2 { background: #FFFFFF; padding: 0 0 75px; }

#section2 h4 { font-size: 25px; line-height: 33px; letter-spacing: 1.2px; }

#section2 h5 { font-family: "Montserrat"; font-weight: 400; font-size: 17px; color: #191319; line-height: 22px; margin: 10px 0 0; }

#section2 .container { margin: 43px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-line-pack: justify; align-content: space-between; }

#section2 .container dl { max-width: 250px; width: 100%; }

#section2 .container dl dt img { max-width: 250px; word-spacing: 100%; }

#section2 .container dl dd { padding: 18px 0 0; margin: 0; font-family: "Montserrat"; font-weight: 400; font-size: 20px; color: #00265D; }

#section2 .container2 { max-width: 822px; width: 100%; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

#section2 .container2 dl { margin: 39px 0 0; max-width: 250px; width: 100%; }

#section2 .container2 dl dt img { max-width: 250px; word-spacing: 100%; }

#section2 .container2 dl dd { padding: 18px 0 0; margin: 0; font-family: "Montserrat"; font-weight: 400; font-size: 20px; color: #00265D; }

/*------------------------------------Section 3------------------------------------*/
#section3 { background: url(../images/common/bgTestimonial.jpg) no-repeat center top; background-size: cover; padding: 0 0 236px; }

#section3 .row { position: relative; }

#section3 .container { background: #FFFFFF; max-width: 988px; margin: 0 auto; padding: 0 0 1px; }

#section3 .container p.stars { margin: 10px auto 21px; color: #D9D900; font-size: 34px; max-width: 219px; letter-spacing: 4px; line-height: 24px; }

#section3 .container p.text { position: relative; max-width: 816px; width: 100%; margin: 0 auto 30px; font-family: "Montserrat"; font-weight: 400; font-size: 17px; color: #191319; line-height: 28px; letter-spacing: 1px; }

#section3 .container p.text::before { content: url(../images/content/quote-left.png); position: absolute; top: 0; left: -40px; }

#section3 .container p.text::after { content: url(../images/content/quote-right.png); position: absolute; bottom: -20px; right: -40px; }

#section3 .container p.auth { font-family: "Montserrat"; font-weight: 600; font-size: 17px; color: #AAAAAA; line-height: 28px; letter-spacing: 1px; }

#section3 .container p.sm { max-width: 280px; width: 100%; margin: 0 auto -20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#section3 .container p.sm a { font-size: 40px; color: #00265D; }

#section3 .container2 { position: absolute; top: 373px; left: 0; right: 0; z-index: 999; max-width: 1100px; background: url(../images/common/bgContact.jpg) no-repeat center top; background-size: cover; padding: 26px 0 37px; }

#section3 .container2 h1 { color: #FFFFFF; }

#section3 .container2 form .cntTop { max-width: 1017px; width: 100%; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#section3 .container2 form .cntTop input[type="text"] { width: 332px; height: 32px; border-radius: 0; }

#section3 .container2 form textarea { max-width: 1017px; width: 100%; height: 129px; margin: 0 auto 10px; resize: none; border-radius: 0; }

#section3 .container2 form label { color: #FFFFFF; }

/*------------------------------------Section 4------------------------------------*/
#section4 { overflow-x: hidden; background: url(../images/common/bgLast.jpg) no-repeat center top; background-size: cover; padding: 340px 0 62px; }

#section4 .row { position: relative; }

#section4 .container { margin-top: 50px; max-width: 1270px; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#section4 .container .item { text-align: left; max-width: 353px; width: 100%; margin: 0 55px 0 10px; }

#section4 .container .item h2 { color: #FFF; }

#section4 .container .item .btn { background: #0071BD; margin-top: 42px; }

#section4 .container img { margin: 0 10px; }

/*footer*/
#footer { background: url(../images/common/bgFooter.jpg) no-repeat center top; background-size: cover; padding: 0; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

#footer .footTop { padding: 35px 0 29px; border-top: 7px solid #DDDDDD; border-bottom: 7px solid #DDDDDD; }

#footer .footTop .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footTop .left { width: 28.57143%; }

#footer .footTop .left p { font-family: "Montserrat"; font-weight: 500; font-size: 17px; color: #AAAAAA; line-height: 24px; }

#footer .footTop .left p span { margin-top: 5px; display: block; font-weight: 700; font-size: 16px; color: #191319; line-height: 23px; }

#footer .footTop .mid { width: 28.57143%; }

#footer .footTop .mid img { max-width: 318px; width: 100%; }

#footer .footTop .mid p { font-family: "Montserrat"; font-weight: 500; font-size: 17px; color: #AAAAAA; line-height: 24px; }

#footer .footTop .mid p span { margin-top: 5px; display: block; font-weight: 700; font-size: 32px; color: #191319; line-height: 41px; }

#footer .footTop .right { width: 28.57143%; }

#footer .footTop .right p { font-family: "Montserrat"; font-weight: 500; font-size: 17px; color: #AAAAAA; line-height: 24px; }

#footer .footTop .right p span { margin-top: 5px; display: block; font-weight: 700; font-size: 16px; color: #191319; line-height: 23px; }

#footer .footMid { background: -webkit-gradient(linear, left top, left bottom, from(#00327D), to(#00183E)); background: -webkit-linear-gradient(#00327D, #00183E); background: -o-linear-gradient(#00327D, #00183E); background: linear-gradient(#00327D, #00183E); padding: 23px 0 17px; border-bottom: 7px solid #DDDDDD; }

#footer .footMid ul { margin: 0 auto; max-width: 863px; width: 100%; list-style: none; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#footer .footMid ul li { font-family: "Montserrat"; font-weight: 500; font-size: 15px; color: #FFFFFF; }

#footer .footBot { padding: 20px 0; }

#footer .footBot p { margin: 0 auto; font-family: "Montserrat"; font-weight: 600; font-size: 13px; color: #000000; line-height: 20px; letter-spacing: 4px; text-transform: uppercase; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
